<div class="main-wrapper">
    <div class="main-container">
      <h1>Score page</h1>
      <h2>You attempted:</h2>
      <h3>"<%= @attempt %>"</h3>
      <h2> <%= @score[:message] %></h2>
      <h3>Your score is: <%= @score[:total] %></h3>
      <a class="btn btn-default btn-lg" href="/new" role="button">Play Again</a>
    </div>
</div>




